{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-adsense-account" content="ca-pub-2451784812620510">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home1.css' %}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2451784812620510"
    crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9TD5W9M3LF"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9TD5W9M3LF');
    </script>
</head>
<body>
    <header>
        <div class='icon-box'>
            <p id="icon">Efarmoji</p>
        </div>
        <div class='href-box'>
            <div class='href-self'>
                <a href="{% url 'about_app' %}" class='href-txt'>about me</a>
            </div>
            <div class='href-self'>
                <a href="{% url 'login' %}" class='href-txt'>login</a>
            </div>           
            <div class='href-self'>
                <a href="{% url 'signup' %}" class='href-txt'>sign in</a>
            </div>
        </div>
    </header> 

    <main>
        <div class='left-box'>
            <h1 class="main-txt line-one">The best efarmogi</h1>
            <h1 class='main-txt line-two'>supports your language learnings.</h1>
            <h1 class='main-txt'></h1>
        </div>  
        <div class='center-box'>
            <div class='twitter-container'>
                <a class="twitter-timeline" href="https://twitter.com/Efarmoji?ref_src=twsrc%5Etfw">Tweets by Efarmoji</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <div class='right-box'>
        </div>
    </main>

    <footer>
        <a href='{% url "terms_of_use" %}' class='href-txt'>Terms of use</a>
        <a href="{% url 'prac' %}" class='href-txt'>a</a>
    </footer>

</body>
</html>